#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --background-color-light: #fff; /* Задний фон для светлой темы */
  --text-color-light: #000; /* Цвет текста для светлой темы */

  --background-color-dark: #333; /* Задний фон для темной темы */
  --text-color-dark: #fff; /* Цвет текста для темной темы */
}

/* .container{
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: left;
  min-width: 1600px;
  min-height: 150px;
  left: 10%;
} */

/* .header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  
} */

.footer{
  bottom: 0;
  width: 100%;
}

/* .App{
  min-height: 100vh;
} */

body {
  background-color: var(--background-color-light); /* Используем CSS переменную для фона */
  color: var(--text-color-light); /* Используем CSS переменную для цвета текста */
}

/* Стили для контейнеров */
/* .container {
  min-width: 1835px;
  min-height: 950px;
  text-align: center;
} */

.container-light {
  background: var(--background-color-light); /* Используем CSS переменную для фона */
}

.container-dark {
  background: var(--background-color-dark); /* Используем CSS переменную для фона */
  color: var(--text-color-dark); /* Используем CSS переменную для цвета текста */
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
/* 
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
